body {
    width: 50%;
    margin: auto;
    font-family: 'Roboto Mono';
    line-height: 1.5;
    background: url(imagens/fundo-sobre.jpg) center;
    color: rgb(240, 238, 238);

}

main {
    background-color: #00000054;
    padding: 50px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p  h2{
    text-align: center;
}